@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  body {
    @apply font-poppins text-[18px]
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

#form {
  background-image: url(./images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-size: 220px;
  background-position: 120% 0;
}

#booster {
  background-image: url(./images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;  
}
@media screen and (min-width: 425px) {
  #booster {
    background-size: 400px;
    background-position: 100% 50%;
  }
}
@media screen and (min-width: 1024px) {
  #form {
    background-image: url(./images/bg-shorten-desktop.svg);
    background-size: cover;
    background-position: 0 0;
  }
  #booster {
    background-image: url(./images/bg-boost-desktop.svg);
    background-size: contain;
  }
}
.error {
  @apply border border-secondary-red text-secondary-red placeholder:text-secondary-red
}